In [1]:
import datetime as dt
import pandas as pd

In [2]:
dt.date(2018, 5, 29)

datetime.date(2018, 5, 29)

In [3]:
dt.datetime(2018, 5, 29, 12, 30,43)

datetime.datetime(2018, 5, 29, 12, 30, 43)

In [4]:
dt.date.today()

datetime.date(2018, 6, 18)

In [5]:
dt.datetime.now()

datetime.datetime(2018, 6, 18, 16, 40, 26, 498560)

In [7]:
d = dt.datetime.now()
d + dt.timedelta(days=3)

datetime.datetime(2018, 6, 21, 16, 41, 26, 29818)

In [9]:
td = dt.date(2018, 6, 18) - dt.date(2018, 1, 1)
td.days

168

In [10]:
df = pd.DataFrame({
    'heure': [dt.datetime.now(), dt.datetime.now()],
    'ecart': [12, -1]
})

df

                       heure  ecart
0 2018-06-18 16:44:33.771972     12
1 2018-06-18 16:44:33.771972     -1

In [11]:
def transfo(row):
    return row['heure'] + dt.timedelta(seconds=row['ecart'])

df['heure2'] = df.apply(transfo, axis='columns')

df

                       heure  ecart                     heure2
0 2018-06-18 16:44:33.771972     12 2018-06-18 16:44:45.771972
1 2018-06-18 16:44:33.771972     -1 2018-06-18 16:44:32.771972