In [1]:
from sqlalchemy import create_engine, Column, Integer, MetaData, Table, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)
Session = sessionmaker(bind=engine)

In [3]:
Base = declarative_base()

In [4]:
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)

    def __repr__(self):
        return "<User(name='{}', fullname='{}', password='{}')>".format(self.name, self.fullname, self.password)

In [5]:
Base.metadata.create_all(engine)

2018-06-14 17:21:29,806 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-06-14 17:21:29,822 INFO sqlalchemy.engine.base.Engine ()
2018-06-14 17:21:29,822 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-06-14 17:21:29,822 INFO sqlalchemy.engine.base.Engine ()
2018-06-14 17:21:29,822 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-06-14 17:21:29,822 INFO sqlalchemy.engine.base.Engine ()
2018-06-14 17:21:29,837 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-06-14 17:21:29,837 INFO sqlalchemy.engine.base.Engine ()
2018-06-14 17:21:29,837 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [7]:
ed_user.name

'ed'

In [14]:
session = Session()

In [9]:
session.add(ed_user)

In [15]:
our_user = session.query(User).filter_by(name='ed').first()
our_user

2018-06-14 17:24:29,510 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-06-14 17:24:29,525 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-06-14 17:24:29,525 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [16]:
session.commit()

2018-06-14 17:24:36,414 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
session.close()